.book-card {
    display: flex;
    flex-direction: column;
    & img{
        width: 200px;
        height: 330px;
        margin:30px;
        transition: all .4s;
       
    }
    & img:hover {
        transform: scale(1.05);
        -webkit-box-shadow: 1px 8px 12px 0px rgba(56,56,56,0.7); 
        box-shadow: 1px 8px 12px 0px rgba(56,56,56,0.7);
    }
}
@media screen and (max-width: 900px ) {
 
}