<div class="userdetails">
    <div class="userdetails_box">
        <div class="user_avatar_box">
            <div *ngIf="!isPremium" class="avatar user"></div>
            <div *ngIf="isAdmin" class="avatar admin"></div>
            <div *ngIf="isPremium" class="avatar premium"></div>
        </div>
        <div class="user_info_box">
            <span class="bg">Username:</span>
            <span>{{username}} </span>
            <span class="bg">Indirizzo e-mail:</span> 
            <span>{{email}}</span>
        </div>
        <hr>
        <div class="user-books" *ngIf="books != 0">
            <h4>I tuoi libri</h4>
            <div class="borrowed_books_box">                
                    <div *ngFor="let b of books">
                        <app-book [book]=b.idCatalog></app-book>
                        <span>Scadenza:</span>
                        <span>{{b.endDate}}</span>
                        <div *ngIf="isPremium || isAdmin">
                            <button mat-raised-button (click)="renewBook(b)">Rinnova Prestito</button>
                        </div>
                        <button mat-raised-button (click)="returnBook(b)">Restituisci</button>
                    </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="message">
    <app-notification [message] = "notification"></app-notification>
</div>